{{range $host, $value := .}}
{{ $service := coalesce $value.Env.SERVICE ""}}
{{ if eq $service "datadog"}}
server {
	listen 80;

	location /nginx_status {
          stub_status on;
          access_log off;
 		  allow {{ $value.IP }};
          deny all;
        }
}
{{ end }}
{{ end }}