init_config:

instances:

 {{ range $value := .}}
 {{ $service := coalesce $value.Env.SERVICE ""}}
 {{ if eq $service "apache" }}
  - apache_status_url: http://{{ $value.IP }}/server-status?auto
    # apache_user: example_user
    # apache_password: example_password
    # tags:
       - project:{{ $value.Env.PROJECT }}
       - environment:{{ $value.Env.ENVIRONMENT }}

    # The (optional) disable_ssl_validation will instruct the check
    # to skip the validation of the SSL certificate of the URL being tested.
    # Defaults to false, set to true if you want to disable SSL certificate validation.
    #
    disable_ssl_validation: true