init_config:

instances:
 # For every instance, you need an `nginx_status_url` and can optionally
 # supply a list of tags.  This plugin requires nginx to be compiled with
 # the nginx stub status module option, and activated with the correct
 # configuration stanza.  On debian/ubuntu, this is included in the
 # `nginx-extras` package.  For more details, see:
 #
 #   http://docs.datadoghq.com/integrations/nginx/
 #


 {{ range $value := .}}
 {{ $service := coalesce $value.Env.SERVICE ""}}
 {{ if eq $service "nginx" }}
 	{{ $addrLen :=  len $value.Addresses}}
    {{/* If only 1 port exposed, use that */}}
    {{ if eq $addrLen 1 }}
       	{{ $address := index $value.Addresses 0 }}
       	{{ $port := $address.Port}}
 - nginx_status_url: {{ $value.IP }}:{{ $port}}/nginx_status/
    {{/* If more than one port exposed, use the one matching VIRTPORT env var, falling back to standard web port 80 */}}
    {{ else }}
       	{{ $port := coalesce $value.Env.VIRTPORT "80" }}
 - nginx_status_url: {{ $value.IP }}:{{ $port}}/nginx_status/
    {{ end }}  
   tags:
   - project: {{ $value.Env.PROJECT }}
   - environment: {{ $value.Env.ENVIRONMENT }}

 {{ end }}
 {{ end }}